<style>
  *{ font-family:Arial,sans-serif;font-weight:bold;font-size:13px;}

  HTML, BODY
  {
      height: 100%;
      padding:0;
      margin:0;
  }
         .lcndr{ margin-top:82px;vertical-align:top;display:inline-block; }
         .RAWZVbb{
	     height:416px;margin-top:82px;
	     width:calc(100% - 449.73108090700700px);
	     margin-left:8px;margin-right:8px;
	     display:inline-block;
	 }

        @media screen and (max-width: 823px) {
            .RAWZVbb {
		height:calc(467px + 39px);
		margin-right:19px;margin-top:82px;
		margin-left:7px;
		width:calc(100% - 32px);
		display:inline-block;
            }
	}


	/* //////////////////++++++++++++++++Dates */
	.CalendarContainer{padding-top:21px;width:296px;text-align:left;height:426.655122px;border-right:2px solid lightgray;border-left:2px solid lightgray;margin-right:13px;display:inline-block;}

	.SelMonthText{font-size:11.32212331013332331223435471689922px;}
	
	.SupMenu{background-color:white;position:relative;top:-18px;left:-8.080180107px;width:100%;padding-bottom:14px;border-right:2px solid green;border-left:2px solid green;display:block;}

	.SelMonthContainer{vertical-align:top;width:81px;margin-left:20.132018px;text-align:center;height:22px;cursor:pointer;display:inline-block;}

	.SelYearContainer{vertical-align:top;width:70px;padding-left:9px;cursor:pointer;height:22px;text-align:center;margin-left:7px;display:inline-block;}
	
	.TodayFullLengthText{margin-left:5px;width:calc(100% - 202px);font-size:11px;color:#b77332;text-align:center;display:inline-block;}
	
	.SelMonthBarText{cursor:pointer;display:inline-block;}
	.snnNvvNil{width:100%;text-align:center;font-size:11.31201718px;padding-bottom:7px;cursor:pointer;padding-top:5px;display:inline-block;}
	
	.SelMonthBarContainer{width:100%;vertical-align:top;margin-top:24px;text-align:center;display:inline-block;}
	
	.DVBday{width:100%;color:#06666c;margin-top:30px;text-align:center;display:inline-block;}
	
	.DaysContainer{width:100%;margin-top:-6.450221000027010502764015225317667px;text-align:center;display:inline-block;}
	
	.SelMonthBarArrow{width:calc(50% - 61px);cursor:pointer;display:inline-block;}
	
	.DaysCsvcStyle{padding:0px;font-size:19px;padding-top:8.070108px;margin:0px;margin-left:3px;width:36.54px;height:30px;border-radius:30px;margin-top:7px;cursor:pointer;display:inline-block;}
	
	.DayNameStyle{font-size:16px;margin-left:1.768566705401031px;padding-top:8px;width:36.54px;height:36.08107px;border-radius:30px;display:inline-block;}
	/* ///+++++++++++++++++++++++++++++++++Dates */


	 /* ////////////////Appointment Xcss */

	.appointments{vertical-align:top;padding-top:17px;padding-bottom:17px;border-right:2px solid lightgray;width:100%;text-align:left;border-left:2px solid lightgray;display:inline-block;border-radius:19px;height:421px;}
	 
	 .ScrollAppContainer{position:relative;width:100%;height:calc(100% - 134px);overflow-x:hidden;overflow-y:auto;display:inline-block;}
	 
	 .VBAppTextings{width:100%;text-align:center;color:red;visibility:hidden;;}
	 
	 .AppItems{position:relative;width:calc(100% - 134px);border-bottom:2px solid lightgray;padding:23px;font-size:13px;text-align:center;display:inline-block;}
	 
	 .button{vertical-align:top;background-color:#b00042;border:1px solid black;height:38px;padding:8px;color:white;display:inline-block;border-radius:5.5465px}
	 
	 .CreatingDiv{width:100%;text-align:center;height:124.652652780830688006653108625406611331px;border-bottom:2px solid lightgreen;display:inline-block;}
	 
	 .TimeContainer{display:inline-block;}
	 
	 .iminbm{width:139.138px;border-radius:5px;vertical-align:top;margin-top:13px;height:31px;border:3px solid #b00042;display:inline-block;}
	 
	 @media screen and (max-width: 823px)
         {
	     .TimeContainer{display:inline-block;width:100%;}
             .appointments{vertical-align:top;padding-top:17px;padding-bottom:17px;border-right:2px solid lightgray;width:100%;text-align:left;border-left:2px solid lightgray;display:inline-block;border-radius:19px;height:467px;}
	     
	     .CreatingDiv{width:100%;text-align:center;height:169px;border-bottom:2px solid lightgreen;display:inline-block;}
	     
	 }
	 
	  /* ////////////////Appointment Xcss */
</style>


<!-- ****++++++++++++++++++Date Source -->
      <div id="CalendarContainer1" class="lcndr">
        <div id="lla" class="CalendarContainer">
          <div id="CalendarContainer1SelMonthContainer" class="SelMonthContainer">
            <span id="CalendarContainer1SelMonthText" class="SelMonthText" (click)="ThisShowingNnnmMonth($event);">{{selledMonth()}} ▼</span>
	    @if(showsMyMonthsz()){
            <div id="CalendarContainer1MonthSubMenu" class="SupMenu" style="margin-left:6px;">
              <div id="CalendarContainer1clicked0months" (click)="MonthClicked('january');"    class="snnNvvNil">January</div>
              <div id="CalendarContainer1clicked1months" (click)="MonthClicked('February');"     class="snnNvvNil">February</div>
              <div id="CalendarContainer1clicked2months" (click)="MonthClicked('March');"     class="snnNvvNil">March</div>
              <div id="CalendarContainer1clicked3months" (click)="MonthClicked('April');"     class="snnNvvNil">April</div>
              <div id="CalendarContainer1clicked4months" (click)="MonthClicked('may');"     class="snnNvvNil">May</div>
              <div id="CalendarContainer1clicked5months" (click)="MonthClicked('June');"     class="snnNvvNil">June</div>
              <div id="CalendarContainer1clicked6months" (click)="MonthClicked('july');"     class="snnNvvNil">July</div>
              <div id="CalendarContainer1clicked7months" (click)="MonthClicked('august');"     class="snnNvvNil">August</div>
              <div id="CalendarContainer1clicked8months" (click)="MonthClicked('September');"     class="snnNvvNil">September</div>
              <div id="CalendarContainer1clicked9months" (click)="MonthClicked('October');"     class="snnNvvNil">October</div>
              <div id="CalendarContainer1clicked10months" (click)="MonthClicked('November');"     class="snnNvvNil">November</div>
              <div id="CalendarContainer1clicked11months" (click)="MonthClicked('December');"     class="snnNvvNil">December</div>
            </div>
	    }
          </div>



	  <div id="CalendarContainer1SelYearContainer" class="SelYearContainer">
            <span id="CalendarContainer1SelYearText" (click)="toggleYears($event);" class="SelYearText">{{showyear()}} ▼</span>
	    
	    @if(ShowYyears()){
	    <div id="CalendarContainer1YearSubpMenu" class="SupMenu">
	      @for(Wyear of CeilingYearofYears() ; track Wyear){
	             <div (click)="YearClicked(Wyear.val);" class="snnNvvNil">{{Wyear.val}}</div>
	      }
	    </div>
	    }
          </div>



	  <div id="CalendarContainer1TodayFullLengthText" class="TodayFullLengthText">{{todayeasy()}}</div>
          <div id="CalendarContainer1SelMonthBarContainer" class="SelMonthBarContainer">
            <div class="SelMonthBarArrow" id="CalendarContainer1GetPreviouseMnths"    (click)="GetPreviouseMnths();">◄</div>
            <div id="CalendarContainer1SelMonthBarText" style="cursor:default" class="SelMonthBarText">{{selledMonth()}}</div>
            <div class="SelMonthBarArrow"    (click)="GetNextMonths();"         id="CalendarContainer1GetNextMonths">►</div>
          </div>

          <div id="CalendarContainer1DVBday" class="DVBday">
            <div class="DayNameStyle">S</div>
	    <div class="DayNameStyle">M</div>
	    <div class="DayNameStyle">T</div>
	    <div class="DayNameStyle">W</div>
	    <div class="DayNameStyle">T</div>
	    <div class="DayNameStyle">F</div>
	    <div class="DayNameStyle">S</div>
          </div>

	  <div id="CalendarContainer1DaysContainer" class="DaysContainer">

	    @for(day of prixzday() ; track day){
	    <div id="PrevDays" class="DaysCsvcStyle"  (click)="GetPreviouseMnths();"       style="color:lightgray;">{{day.val}}</div>
	    }

	    @for(day of nowadays() ; track day){
	    <div id="days" [style]="{'background-color': getthisdayBgJcolor(day.val),'color':afontedsetColor(day.val)}"  (click)="OneOfDayChosened(day.val);"         class="DaysCsvcStyle LCdDays CalendarContainer1fexd" style="color: black;">{{day.val}}</div>
	    }

	    @for(day of aftterloadday() ; track day){
	    <div (click)="GetNextMonths();"  id="CalendarContainer1nday1" class="DaysCsvcStyle" style="color:lightgray;">{{day.val}}</div>
	    }
	  </div>
	</div>
      </div>
      
      <!-- /////////////////////++++++++++++++++++++Date Source -->


      <!-- ///++++++++++++++++++++++++++Appointments Registered Source Html -->
      <div id="CV1Appointments" class="RAWZVbb">
          <div class="appointments">
            <div id="CV1AppointAppStringtextings" class="VBAppTextings" style="visibility: hidden;">
              Time is incomplete
            </div>
            <div class="CreatingDiv">
              <input id="pointingvirtualText" placeholder="Description ...." type="text" class="iminbm" style="width:231px;font-size:14px;" [(ngModel)]="inputString">
              <div class="TimeContainer">
                <input type="time" [(ngModel)]="InputStringDate" step="60" class="iminbm" id="Appointments1hteamvb" style="font-size:23px;">
              </div>
              <div style="width:100%;display:inline-block;"></div>
              <input id="time" type="button" (click)="SubmitButton();" class="button" value="Create Day Event">
            </div>

            <ul cdkDropList (cdkDropListDropped)="drop($event)" id="AppointmentScrollAppContainer" class="ScrollAppContainer">
	    @switch(isApp())
	    {
	         @case(false){
         	   <li class="AppItems">
		       You don't have any appointments for this date {{ShowThisDay()}}
	           </li>
		 }
		   @default{
		          @for (ev of appointments[clicked]; track ev) {
                             <li cdkDrag class="AppItems">
		                  {{ev}}
	                     </li>
		          }
		   }
            }
	       </ul>
          </div>
      </div>
      <!-- ///++++++++++++++++++++++++++Appointments Registered Source Html -->
<router-outlet />
